@@include('./layout/header.html')

<div class="mian" id="index">
	<div class="slide banner"><img src="./img/1_27.jpg" alt=""></div>
	<div class="geli"><img src="./img/1_28.jpg" alt=""></div>
	<div class="inner">
		<div class="left1">
			<div class="title"><img src="./img/2_34.png" alt=""><a href="" class="readmore"></a></div>
			<div class="content">
				<img src="./img/3_34.jpg" alt="">
				<p>澳葉-茶之道開業於2014年，主要銷售雲南普洱茶，福建鐵觀音、岩茶，杭州龍井茶，廣東單樅，廣西六堡茶等，自上世紀九十年代初，澳葉-茶之道開始代理臺灣烏龍茶和斯里蘭卡紅茶，並建立起自己的品牌，即華聯公司定制的九七青磚、班章王、金瓜貢茶、熟餅等。已形成了採購、監製、倉儲、進出口、批發零售的產業鏈，產品銷往澳門、香港、東南亞、歐美及國內市場。</p>
			</div>
		</div>
		<div class="right1">
			<div class="title"><img src="./img/2_36.png" alt=""><a href="" class="readmore"></a></div>
			<div class="content">
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
				<div class="item"><p><a href="">澳葉-茶之道開業於2014年，主要銷售雲南普洱茶...</a><span>2016-01-11</span></p></div>
			</div>
		</div>
		<div class="bottom1">
			<div class="title"><img src="./img/2_44.png" alt=""><a href="" class="readmore"></div>
			<div class="content">
				<div class="item">
					<div class="thumbnail"><a href="#"><img src="./img/1_31.jpg" alt=""></a></div>
					<div class="name">特级野生杜仲茶</div>
					<div class="price"><span>¥</span><i>178.00</i></div>
					<div class="shopcart"><a href="#"><img src="./img/2_59.png" alt=""></a></div>
				</div>
				<div class="item">
					<div class="thumbnail"><a href="#"><img src="./img/1_31.jpg" alt=""></a></div>
					<div class="name">特级野生杜仲茶</div>
					<div class="price"><span>¥</span><i>178.00</i></div>
					<div class="shopcart"><a href="#"><img src="./img/2_59.png" alt=""></a></div>
				</div>
				<div class="item">
					<div class="thumbnail"><a href="#"><img src="./img/1_31.jpg" alt=""></a></div>
					<div class="name">特级野生杜仲茶</div>
					<div class="price"><span>¥</span><i>178.00</i></div>
					<div class="shopcart"><a href="#"><img src="./img/2_59.png" alt=""></a></div>
				</div>
				<div class="item">
					<div class="thumbnail"><a href="#"><img src="./img/1_31.jpg" alt=""></a></div>
					<div class="name">特级野生杜仲茶</div>
					<div class="price"><span>¥</span><i>178.00</i></div>
					<div class="shopcart"><a href="#"><img src="./img/2_59.png" alt=""></a></div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		<div class="bottom2"></div>
	</div>
	<div class="geli"><img src="./img/1_28.jpg" alt=""></div>
</div>	

@@include('./layout/footer.html')
