<footer>
	<div class="inner">
		<div class="logo"><img src="./img/1_44.jpg" alt=""></div>
		<div class="copyright"><p>澳葉-茶之道 版權所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技術支持：<a href="http://macautech.net" target="_blank">普及科技</a></p></div>
		<div class="share">
			<a href=""><i class="uk-icon-facebook-square"></i></a>
			<a href=""><i class="uk-icon-twitter-square"></i></a>
			<a href=""><i class="uk-icon-instagram"></i></a>
			<a href=""><i class="uk-icon-google-plus-square"></i></a>
		</div>
	</div>
</footer>

<div id="fixed">
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
</div>

</body>
</html>
